<launch>
  <!-- Argument for TurtleBot3 Model -->
  <arg name="model" default="burger"/>
  
  <!-- Set environment variable for TurtleBot3 Model -->
  <env name="TURTLEBOT3_MODEL" value="$(arg model)"/>
  
  <!-- Include TurtleBot3 Gazebo launch file -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch">
  </include>

  <!-- Include gmapping launch file -->
  <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
    <arg name="slam_methods" value="gmapping"/>
  </include>

  <!-- Include move_base launch file -->
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
  </include>

  <!-- Explore Lite with Parameters -->
  <node pkg="explore_lite" type="explore" name="explore" output="screen">
    <param name="costmap_topic" value="/map"/>
    <param name="planner_frequency" value="1.0"/>
    <param name="progress_timeout" value="30.0"/>
    <param name="goal_aliasing_threshold" value="0.1"/>
  </node>

</launch>
