<launch>
  <!-- Argument for TurtleBot3 Model -->
  <arg name="model" default="burger"/>
  
  <!-- Set environment variable for TurtleBot3 Model -->
  <env name="TURTLEBOT3_MODEL" value="$(arg model)"/>
  
  <!-- Include TurtleBot3 Gazebo launch file -->
  <!-- <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch">
  </include> -->

  <!-- Include gmapping launch file with customised rvis configuration -->
  <include file="$(find turtlebot3_controller)/launch/turtlebot3_slam_custom_rvis.launch">
    <arg name="slam_methods" value="gmapping"/>
  </include>

  <!-- Include move_base launch file -->
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
  </include>

  <!-- Create my custom exploration file -->
  <node name="turtlebot3_controller" pkg="turtlebot3_controller" type="move.py" output="screen"/>


</launch>


